* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #190c29;
}
.container {
    height: auto;
    width: 65%;
    margin: 0 auto;
}
.slider-box {
    height: 30%;
    width: 100%;
    margin: 5% auto 0;
    overflow-x: hidden;
}
.slide-box{
    display: flex;
    width: 500%;
    height: 100%;
}
input {
    visibility: hidden;
}
.controls label {
    cursor: pointer;
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: aqua;
}
img {
    width: 100%;
    height: 100%;
}
.slide {
    height: 100%;
    width: 20%;
    transition: .4s ease;
}

label:hover {
    background-color: #fff;
}
.slides_text {
    color: #fff;
    font-size: 2em;
}
.text1, .text2, .text3, .text4 {
    display: none;
}
.fade_in {
    animation-name: fade_in;
    animation-duration: 2s;
}
@keyframes fade_in {
    from {opacity: 0}
    to {opacity: 1}
}
.text_control-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#slide_1:checked ~ .slides_img > .slide-box > .tranlsate {
    margin-left: 0;
}
#slide_2:checked  ~.slides_img > .slide-box > .tranlsate {
    margin-left: -20%;
}
#slide_3:checked ~.slides_img > .slide-box > .tranlsate  {
    margin-left: -40%;
}
#slide_4:checked ~.slides_img > .slide-box > .tranlsate  {
    margin-left: -60%;
}

#slide_1:checked ~ .text_control-box > .controls >.label_1{
    background-color: white;
}
#slide_2:checked ~ .text_control-box > .controls >.label_2{
    background-color: white;
}
#slide_3:checked ~ .text_control-box > .controls >.label_3{
    background-color: white;
}
#slide_4:checked ~ .text_control-box > .controls >.label_4{
    background-color: white;
}
#slide_1:checked ~ .text_control-box > .slides_text > .text1 {
    display: block;
}
#slide_2:checked ~ .text_control-box > .slides_text > .text2 {
    display: block;
}
#slide_3:checked ~ .text_control-box > .slides_text > .text3 {
    display: block;
}
#slide_4:checked ~ .text_control-box > .slides_text > .text4 {
    display: block;
}