* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #190c29;
}
.container {
    height: auto;
    width: 65%;
    margin: 0 auto;
}
.slider-box {
    height: 30%;
    width: 100%;
    margin: 5% auto 0;
    overflow-x: hidden;
}
.slide-box{
    display: flex;
    width: 500%;
    height: 100%;
}
input {
    visibility: hidden;
}
.controls label {
    padding: 3hv;
    cursor: pointer;
    display: inline-block;
    height: 2vh;
    width: 2vh;
    border-radius: 50%;
    background-color: #c38bbf;
}
img {
    width: 100%;
    height: 100%;
}
.slide {
    height: 100%;
    width: 20%;
    transition: .4s ease;
}

label:hover {
    background-color: #5d445b;
}
.slides_text {
    color: #c38bbf;
}
.text1, .text2, .text3, .text4 {
    display: none;
    font-size: 3vw;
}
.fade_in {
    animation-name: fade_in;
    animation-duration: 3s;
}
@keyframes fade_in {
    from {opacity: 0}
    to {opacity: 1}
}
.text_control-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#slide_1:checked ~ .slides_img > .slide-box > .tranlsate {
    margin-left: 0;
}
#slide_2:checked  ~.slides_img > .slide-box > .tranlsate {
    margin-left: -20%;
}
#slide_3:checked ~.slides_img > .slide-box > .tranlsate  {
    margin-left: -40%;
}
#slide_4:checked ~.slides_img > .slide-box > .tranlsate  {
    margin-left: -60%;
}

#slide_1:checked ~ .text_control-box > .controls >.label_1{
    background-color: #190c29;
    border: solid #c38bbf;
}
#slide_2:checked ~ .text_control-box > .controls >.label_2{
    background-color: #190c29;
    border: solid #c38bbf;
}
#slide_3:checked ~ .text_control-box > .controls >.label_3{
    background-color: #190c29;
    border: solid #c38bbf;
}
#slide_4:checked ~ .text_control-box > .controls >.label_4{
    background-color: #190c29;
    border: solid #c38bbf;
}
#slide_1:checked ~ .text_control-box > .slides_text > .text1 {
    display: block;
}
#slide_2:checked ~ .text_control-box > .slides_text > .text2 {
    display: block;
}
#slide_3:checked ~ .text_control-box > .slides_text > .text3 {
    display: block;
}
#slide_4:checked ~ .text_control-box > .slides_text > .text4 {
    display: block;
}

@media (max-width: 768px) {
    .container {
        margin: 0 auto;
        width: 90%;
    }
    .text_control-box {
        flex-direction: column-reverse;
    }
    .slides_text {
        align-self: start;
    }
    .text_control-box {
        width: 100%;
    }
    .text1, .text2, .text3, .text4 {
        font-size: 5vw;
    }
}
@media (min-width: 320px) and (max-width: 767px) {
    .text1, .text2, .text3, .text4 {
        font-size: 7vw;
    }
}